html {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(77, 75, 75);
    background-color: white;
    border: 1px solid rgb(77, 75, 75);
    flex-shrink: 1;
}

body {
    margin: 0;
    
}


@media only screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        height: 64px;
        align-items: center;
    }

    header-mobile {
        display: none;
    }
}

.logo {
    display: flex;
    margin-left: 24px;
}

.colmar {
    font-weight: bold;
    font-size: 32px;
}

@media only screen and (max-width: 600px) {
    header {
        display: none;
    }
  }

  @media only screen and (max-width: 600px) { 
    .header-mobile {
    display: flex;
    justify-content: space-around;
    height: 64px;
  }
    .m-icon {
        padding: 0 20px 0 20px;
    }
}

.academy {
    opacity: 0.5;
    font-size: 32px;
}

ul {
    list-style: none;                                                       
    display: flex;
    margin-right: 24px;
}

li {
    padding-right: 16px;
}



/* Something new section */

@media only screen and (max-width: 600px) {
    .somethingnew-subcontainer {
        display: flex;
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 600px) {
    .books {
        align-self: center;
  }
}               

  @media only screen and (max-width: 600px) {
    .content-container {
        display: contents;
        
    }
  }

.somethingnew-container {
    background-color: rgb(196, 191, 191);
    display: flex;
}

.somethingnew-subcontainer {
    margin: 32px 24px 32px 24px;
    display: flex;

}

.books {
    width: 60%;
    
    
}

.content-container {
    margin-left: 24px;
    align-self: center;
    width: 40%;

}

.learn {
    font-weight: 800;
    
}

.lorem {
    font-weight: 600;
}

.button {
    background-color: rgb(77, 75, 75);
    color: white;
    font-weight: 600;
    padding: 8px 0 8px 0;
    text-align: center;
    margin-top: 54px;
    
}

/* Practicing container*/

@media only screen and (max-width: 600px) {
    .practicing-left {
        display: none;
    }
    .practicing-right {
        min-width: -webkit-fill-available;
        
    }
    .guest {
        background-color: white;

    }
    .m-sl-h1 {
        text-align: center;
    }
    
}

@media only screen and (min-width: 600px) {
    .guest {
        background-color: rgb(196, 191, 191);
    }
    .date {
        border-bottom: 1px solid   rgb(196, 191, 191);
    }
    .campus {
        border-bottom: 1px solid   rgb(196, 191, 191);
    }
    
}


.practicing-container {
    background-color: white;
    display: flex;
}

.practicing-left {
    width: 60%;
    
}

.practicing-left-subcontainer {
    margin: 32px 24px 32px 24px;
}

.practicing-right {
    display: flex;
    flex-direction: column;
    border-left: 1px solid  rgb(196, 191, 191);
    width: 40%;
    padding-top: 32px;
  
}

.student {
    width: -webkit-fill-available;
    
}

.practicing-head {
    font-weight: 800;
    margin: 0 0 0 24px;
   

}

.practicing-paragraph {
    margin: 32px 0 0 24px;
    
    
}

.author {
    font-weight: 600;
    margin-left: 24px;
    width: 60%;
    
}

.practicing-img {
    width: 35%;
    height: auto;
    margin: 10px;
}

.box1 .box2 .box3 {
    display: flex;
}


.date {
    display: flex;
    align-items: center;
}

.campus {
    display: flex;
    align-items: center;
}

.guest {
    display: flex;
    border-bottom: 1px solid   rgb(196, 191, 191);
    align-items: center;
    
}

.h-practicing {
    margin: 0 0 4px 0;
}

.p-practicing {
    margin: 4px 0 4px ;
}

.a-practicing {
    margin: 4px 0 0 0;
    color: cornflowerblue;
}

/* Start Learning*/

@media only screen and (min-width: 600px) {
    .sl-mobile {
        display: none;
        
    } 
}

@media only screen and (max-width: 600px) {
    .sl-mobile {
        display: flex;
        flex-direction: column;
        background-color: rgb(236, 231, 231); /* Lightest grey*/
        
    } 
}

@media only screen and (max-width: 600px) {
    .sl-container {
        display: none;
        
    } 
}

.m-box {
    background-color:  rgb(196, 191, 191);
    margin: 8px 16px 8px 16px;
    padding: 16px 16px 24px 16px;
}



.sl-container {
    background-color: rgb(196, 191, 191);
}

.startlearning {
    text-align: center;
    padding: 32px 0 16px 0;
}

.sl-subcontainer {
    margin: 0 59px 0 59px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery {
   margin: 16px 32px 32px 0;

}

.sl-caption {
    background-color: white;
    width: min-content;
    height: 100%;
}

.course {
    margin-top: 16px;
    padding-left: 16px;
    
}

.courses {
    color: rgb(196, 191, 191);
    padding: 8px 0 8px 0;
    padding-left: 16px;
}

.courses-list {
    color: rgb(196, 191, 191);
    padding: 0 24px 24px 16px;
}

.sl-img {
    height: auto;
    width: 350px;
}

/* Thesis Exibit*/

@media only screen and (max-width: 600px) {
    .te-right {
        display: none;
    }
    .urban-container {
        display: none;
    }
    .te-subcontainer {
        justify-content: center;
    }
    .te-left {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .te-left {
        width: 60%;
        margin: 0 24px 24px 24px;
    }
}

.te-container {
    background-color: white;
}

.te-subcontainer {
    display: flex;
}

.te-right {
    width: 40%;
    
}

.te-title {
    color: rgb(77, 75, 75);
    text-align: center;
    margin: 32px 0 32px 0;
}

.video {
    max-width: -webkit-fill-available;
}

.te-right1 {
    background-color: rgb(196, 191, 191);
    padding: 16px;
    display: flex;
}

.te-right2 {
    padding: 16px;
    display: flex;
}

.te-right1-img {
    width: 35%;
}

.te-right1-caption {
    width: 65%;
    padding-left: 16px;
}

.te-img {
    max-width: -webkit-fill-available;
}

.urban-container {
    width: 60%;
    padding: 24px 0 32px 24px;
}

.urban-h4 {
margin-bottom: 8px;
}

.urban-p {
    color:  rgb(196, 191, 191);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(196, 191, 191);
    color: rgb(196, 191, 191);
    font-size: 0.75rem;
    padding: 16px 0 0 24px;
}